{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="https://cdn.pixabay.com/photo/2016/11/14/03/05/surgery-1822458_640.jpg
                    " style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-8">About Us</h5>
                    <h1 class="display-4">Best Medical Care For Yourself and Your Family</h1>
                </div>
                <p>Not everyone believes hospital ads are all that powerful in swaying health care decisions, largely because patients rarely make those decisions in a vacuum. “I think one thing we’re missing here is that there are physician agents who are still in a position to steer patients. I don’t think we should forget about that,” says Jonathan Kolstad, a Wharton health care management professor. “It’s more important to provide those physicians with information to either support or conflict with the perception coming out of advertising than it is to have a lot of regulation around hospital ads.”

                    There’s little doubt that placing similar advertising restrictions on hospitals that are placed on drugmakers would be challenging. Prescription drug ads are regulated by the Indian. Food & Drug Administration, which requires that direct-to-consumer pitches include “fair balance” — meaning the information about a drug’s risks must be equivalent to information given about its benefits.</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                            <h6 class="mb-0">Qualified<small class="d-block text-primary">Doctors</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                            <h6 class="mb-0">Emergency<small class="d-block text-primary">Services</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                            <h6 class="mb-0">Accurate<small class="d-block text-primary">Testing</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                            <h6 class="mb-0">Free<small class="d-block text-primary">Ambulance</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}